<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Demande_init() hook (in hooks/Demande.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Demande-type-<%%VALUE(id)%%>" class="Demande-type"><%%SELECT%%><%%VALUE(type)%%><%%ENDSELECT%%></td>
		<td id="Demande-intervention-<%%VALUE(id)%%>" class="Demande-intervention"><%%SELECT%%><%%VALUE(intervention)%%><%%ENDSELECT%%></td>
		<td id="Demande-site_compostage-<%%VALUE(id)%%>" class="Demande-site_compostage"><%%SELECT%%><%%VALUE(site_compostage)%%><%%ENDSELECT%%></td>
		<td id="Demande-site_dechet-<%%VALUE(id)%%>" class="Demande-site_dechet"><%%SELECT%%><%%VALUE(site_dechet)%%><%%ENDSELECT%%></td>
		<td id="Demande-desc-<%%VALUE(id)%%>" class="Demande-desc"><%%SELECT%%><%%VALUE(desc)%%><%%ENDSELECT%%></td>
		<td id="Demande-date_lancement-<%%VALUE(id)%%>" class="Demande-date_lancement"><%%SELECT%%><%%VALUE(date_lancement)%%><%%ENDSELECT%%></td>
		<td id="Demande-date_butoir-<%%VALUE(id)%%>" class="Demande-date_butoir"><%%SELECT%%><%%VALUE(date_butoir)%%><%%ENDSELECT%%></td>
		<td id="Demande-date_inter-<%%VALUE(id)%%>" class="Demande-date_inter"><%%SELECT%%><%%VALUE(date_inter)%%><%%ENDSELECT%%></td>
		<td id="Demande-intervenant-<%%VALUE(id)%%>" class="Demande-intervenant"><%%SELECT%%><%%VALUE(intervenant)%%><%%ENDSELECT%%></td>
		<td id="Demande-prix_unit-<%%VALUE(id)%%>" class="Demande-prix_unit text-right"><%%SELECT%%><%%VALUE(prix_unit)%%><%%ENDSELECT%%></td>
		<td id="Demande-niveau-<%%VALUE(id)%%>" class="Demande-niveau"><%%SELECT%%><%%VALUE(niveau)%%><%%ENDSELECT%%></td>
		<td id="Demande-etat-<%%VALUE(id)%%>" class="Demande-etat"><%%SELECT%%><%%VALUE(etat)%%><%%ENDSELECT%%></td>
