		<td colspan="7" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="feedback-titre-caption field-caption-tv">Titre</dt>
					<dd id="feedback-titre-<%%VALUE(id)%%>" class="feedback-titre"><%%SELECT%%><%%VALUE(titre)%%><%%ENDSELECT%%></dd>

					<dt class="feedback-fonctionnalite-caption field-caption-tv">Fonctionnalite</dt>
					<dd id="feedback-fonctionnalite-<%%VALUE(id)%%>" class="feedback-fonctionnalite"><%%SELECT%%><%%VALUE(fonctionnalite)%%><%%ENDSELECT%%></dd>

					<dt class="feedback-description-caption field-caption-tv">Description</dt>
					<dd id="feedback-description-<%%VALUE(id)%%>" class="feedback-description"><%%SELECT%%><%%VALUE(description)%%><%%ENDSELECT%%></dd>

					<dt class="feedback-plus-caption field-caption-tv">Que faut-il Ajouter</dt>
					<dd id="feedback-plus-<%%VALUE(id)%%>" class="feedback-plus"><%%SELECT%%><%%VALUE(plus)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="feedback-moins-caption field-caption-tv">Que faut-il retirer ?</dt>
					<dd id="feedback-moins-<%%VALUE(id)%%>" class="feedback-moins"><%%SELECT%%><%%VALUE(moins)%%><%%ENDSELECT%%></dd>

					<dt class="feedback-kanban-caption field-caption-tv">Kanban</dt>
					<dd id="feedback-kanban-<%%VALUE(id)%%>" class="feedback-kanban"><%%SELECT%%><%%VALUE(kanban)%%><%%ENDSELECT%%></dd>

					<dt class="feedback-commentaires-caption field-caption-tv">Commentaires</dt>
					<dd id="feedback-commentaires-<%%VALUE(id)%%>" class="feedback-commentaires"><%%SELECT%%><%%VALUE(commentaires)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
