		<td colspan="7" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="feedback-titre-caption field-caption-tv">Titre</dt>
					<dd id="feedback-titre-<%%VALUE(id)%%>" class="feedback-titre"><%%VALUE(titre)%%></dd>

					<dt class="feedback-fonctionnalite-caption field-caption-tv">Fonctionnalite</dt>
					<dd id="feedback-fonctionnalite-<%%VALUE(id)%%>" class="feedback-fonctionnalite"><%%VALUE(fonctionnalite)%%></dd>

					<dt class="feedback-description-caption field-caption-tv">Description</dt>
					<dd id="feedback-description-<%%VALUE(id)%%>" class="feedback-description"><%%VALUE(description)%%></dd>

					<dt class="feedback-plus-caption field-caption-tv">Que faut-il Ajouter</dt>
					<dd id="feedback-plus-<%%VALUE(id)%%>" class="feedback-plus"><%%VALUE(plus)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="feedback-moins-caption field-caption-tv">Que faut-il retirer ?</dt>
					<dd id="feedback-moins-<%%VALUE(id)%%>" class="feedback-moins"><%%VALUE(moins)%%></dd>

					<dt class="feedback-kanban-caption field-caption-tv">Kanban</dt>
					<dd id="feedback-kanban-<%%VALUE(id)%%>" class="feedback-kanban"><%%VALUE(kanban)%%></dd>

					<dt class="feedback-commentaires-caption field-caption-tv">Commentaires</dt>
					<dd id="feedback-commentaires-<%%VALUE(id)%%>" class="feedback-commentaires"><%%VALUE(commentaires)%%></dd>

				</dl>
			</div>
		</td>
