		<td colspan="6" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="Sites-type-caption field-caption-tv">Type de site de d&#233;chet</dt>
					<dd id="Sites-type-<%%VALUE(id)%%>" class="Sites-type"><%%VALUE(type)%%></dd>

					<dt class="Sites-nom-caption field-caption-tv">Nom du site</dt>
					<dd id="Sites-nom-<%%VALUE(id)%%>" class="Sites-nom"><%%VALUE(nom)%%></dd>

					<dt class="Sites-adress-caption field-caption-tv">Adresse</dt>
					<dd id="Sites-adress-<%%VALUE(id)%%>" class="Sites-adress"><%%VALUE(adress)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="Sites-code_postal-caption field-caption-tv">Code postal</dt>
					<dd id="Sites-code_postal-<%%VALUE(id)%%>" class="Sites-code_postal"><%%VALUE(code_postal)%%></dd>

					<dt class="Sites-ville-caption field-caption-tv">Ville</dt>
					<dd id="Sites-ville-<%%VALUE(id)%%>" class="Sites-ville"><%%VALUE(ville)%%></dd>

					<dt class="Sites-nbr-caption field-caption-tv">Nombre de semaines d'ouverture</dt>
					<dd id="Sites-nbr-<%%VALUE(id)%%>" class="Sites-nbr text-right"><%%VALUE(nbr)%%></dd>

				</dl>
			</div>
		</td>
